@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html, body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
  }

h1{
    color: #FFF;
    font-size: 50px;
    text-shadow: 1px 1px 1px #000;
}

h2{
    font-size: 37px;
    font-weight: 600;
    margin: 0;
}

h3{
    font-size: 28px;
    font-weight: 400;
    margin: 28px 0;
    text-align: center;
}

h2, h3{
    color: #0088B3;
}

p{
    font-size: 16px;
    margin: 0;
}

hr{
    box-sizing: border-box;
}

input:focus, textarea:focus{
    outline-style: groove;
    outline-color: #0088B3;
}

.link{
    color: #000;
    font-weight: 600;
    text-decoration: underline;
}

.link:hover{
    color: #0088B3;
}

.separate{
    width: 50px;
    margin: 0;
    display: none;
    justify-self: center;
}

.separate-section{
    margin: 50px 0;
    width: 100%;
}

.line-color{
    border: 1px solid #FF8C1A;
}

.h2-line{
    width: 50px;
    border: 1px solid #0088B3;
    margin-top: 8px;
 
}

.a{
    grid-area: a;
}

.b{
    grid-area: b;
}

.c{
    grid-area: c;
}

.d{
    grid-area: d;
}

.e{
    grid-area: e;
}

.f{
    grid-area: f;
}

.h{
    grid-area: h;
}

.line1{
    grid-area: l1;
}

.line2{
    grid-area: l2;
}

.line3{
    grid-area: l3;
}

.line4{
    grid-area: l4;
}

.line5{
    grid-area: l5;
}

.bold{
    font-weight: 700;
}

.semi-bold{
    font-weight: 600;
}

.margin-top-37px{
    margin-top: 37px;
}

.margin-bottom-16px{
    margin-bottom: 16px;
}

.padding-top-16px{
    padding-top: 16px;
}

.meta-data{
    font-size: 12px;
    margin-top: 67px;
}

.active{
    text-decoration: underline;
    text-decoration-color: #FF8C1A;
    text-decoration-thickness: 2px ;
}

.active:hover{
    text-decoration-thickness: 2px;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.grid{
    display: grid;
    grid-gap: 37px;
    justify-content: center;
}

.three-grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "h h h"
    "a b c";
}

.five-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "h h"
    "a b"
    "c d"
    "e ..";
}

.container{
    max-width: 1280px;
    margin: 0 37px;
}

.card{
    box-sizing: border-box;
    flex-direction: column;
    padding-bottom: 16px;
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
}

.card img{
    max-width: 100%;
}

.card h3, .card p{
    padding: 0 16px;
}

.cta h2{
    margin-top: 0;
    margin-right: 16px;
}

.header-image{
    border-bottom: 1px solid #FF8C1A;
    background-size: cover;
}

.header-image-height{
    height: 600px;
}


.align-self-center{
    align-self: center;
}

.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-around{
    justify-content: space-around;
}

.text-align-center{
    text-align: center;
}

.btn{
    font-size: 21px;
    box-sizing: border-box;
    font-weight: 600;
    display: block;
    text-align: center;
    color: #000;
    height: 67px;
    padding: 16px;
}

.orange-btn{
    background-color: #FF8C1A;
    border: solid 2px #FF8C1A;
}

.blue-btn{
    background-color: #19C9FF ;
    border: solid 2px #19C9FF;
}


@media screen and (min-width: 992px){
    .orange-btn:hover, .blue-btn:hover{
        background-color: #FFF;
    }
}

.blue-btn{
    background-color: #19C9FF ;
}

@media screen and (max-width: 1260px){
    .three-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "h h"
        "a b"
        "c .."
    }
}

@media screen and (max-width: 992px){
    .separate-section{
        margin: 50px 0px;
    }

    .separate{
        display: block;
    }

    .three-grid{ 
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "a"
        "l1"
        "b"
        "l2"
        "c";
    }

    .five-grid{
        grid-template-columns: 1fr;
        grid-template-areas:
        "h"
        "a"
        "l1"
        "b"
        "l2"
        "c" 
        "l3"
        "d"
        "l4"
        "e";
    }

    .container{
        margin: 0 16px;
    }
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 600px){
    h1{
        font-size: 37px;
    }
    
    h2{
        font-size: 28px;
    }
    
    h3{
        font-size: 21px;
        margin: 21px 0;
    }

    .container{
        margin: 0;
    }

    .card{
        width: 100%;

    }

    .separate-section{
        margin: 50px 0;
    }

    .cta{
        flex-direction: column;
    }

    .cta .btn{
        margin-top: 16px;
    }
}

/* Header and Nav */

header{
    flex-direction: column;
}

.header-image-home h1{
    margin-top: 230px;
    margin-left: 100px;
}

.sticky-header{
    height: 87px;
    background-color: #FFF;
    justify-content: space-between;
    position: fixed;
    padding-top: 10px;
    border-bottom: solid 1px #0088B3;
    width: 100%;
}

nav a{
    color: #0088B3;
    font-weight: 600;
}

nav a:hover{
    text-decoration: underline;
    text-decoration-color: #FF8C1A;

}

.logo{
    width: 160px;
    margin-left: 100px;
}

.ham-nav{
  justify-content: flex-end;
}

.ham-items{
  align-items: center;
  margin-right: 100px;
  background-color: #FFF;
}

.ham-link{
  flex-grow: 1;
  flex-basis: 0;
  margin: 5px 0px 10px 20px;
  padding-left: 10px;
  font-size: 21px;
  text-align: center;
}

.ham-nav label{
  margin-right: 100px;
  align-self: center;
}

.ham-nav label, #hamburger {
  display: none;
}

.ham-nav .button{
    margin: 20px auto 40px auto;
    display: none;
}

@media screen and (max-width: 1260px){

    .logo{
        margin-left: 37px;
    }

    .ham-nav{
      margin-right: 0;
    }

    .ham-nav label{
        margin-right: 37px;
      }
  
    .ham-items{
      display:none;
      margin-right: 0;
      border-bottom: solid 1px #0088B3;
    }
  
    .ham-link{
      box-sizing: border-box;
      display: block;
      padding: 15px 10px 10px 10px;
      margin: 0;
    }
  
    .ham-nav label{
      display: block;
      font-size: 25px;
      padding: 3px 12px 10px 10px;
      position: absolute;
      transition: transform 0.2s;
  
    }
  
    .ham-nav input:checked ~ .ham-items {
      display: block;
      margin-top: 58px;
      width: 100%;
      position: absolute;
      top: 30px;
    }
  
    .ham-nav input:checked ~ label {
      transform: rotate(90deg);
  
    }

    nav a:hover{
        text-decoration: none;
    }

    .ham-nav .button{
        display: block;
    }

    .ham-nav .button:hover{
        background-color: #FF8C1A;
    }
}

@media screen and (max-width: 992px){
    .ham-nav input:checked ~ .ham-items {
        top: 19px;
      }

    .sticky-header{
        height: 67px;
    }

    .logo{
        width: 120px;
        margin-left: 16px;
    }
    .ham-nav label{
        margin-right: 4px;
    }
}

main{
    flex: 1;
}

/* Home Page */

.header-image-home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/AdobeStock_208752273-min.jpeg");
    background-position: 10% 10%;
    height: 100vh;
    box-sizing: border-box;
}

.header-cta{
    text-align: center;
    float: right;
    margin: 80px 80px 0 0;
    color: #fff;
}

.header-cta p{
    font-size: 21px;
}

.header-cta .btn{
    margin: 16px auto;
    padding-top: 16px;
}

@media screen and (min-width: 992px){
    .header-cta .btn:hover{
        background: none;
        color: #fff;
    }
}


.connect{
    color: #0088B3;    
}

.connect .h2-line{
    margin-bottom: 21px;
}

.connect h2{
    margin-top: 0;
}

.social div{
    justify-content: space-between;
    width: 100%;
    margin-top: 28px;
}

.twitter{
    margin: 0 16px;
}

.newsletter{
    max-width: 100%;
}

.newsletter label::after {
    content: "\A";
    white-space: pre;
  }

.newsletter input{
    box-sizing: border-box;
    height: 67px;
    padding-left: 30px;
    border: 1px solid #0088B3;
    box-shadow: none;
    margin-right: 12px;
    flex: 3;
}

.newsletter input:focus{
    outline-style: groove;
    outline-color: #0088B3;
}

.newsletter .btn{
    flex: 1;
}

.newsletter .flex{
    justify-content: space-between;
    margin-top: 28px;
}


@media screen and (max-width: 1450px){
    .header-image-home h1{
        margin-top: 250px;
        margin-left: 80px;
    }

}

@media screen and (max-width: 992px){
    .header-image-home{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
        
    .header-image-home h1{
        margin: 100px 0 0 0;
    }

    .header-cta{
        float: none;
        margin: 0;
    }

    .newsletter{
        text-align: center;
    }

    .connect{
        flex-direction: column-reverse;
        align-items: center;
    }

    .connect .separate{
        display: block;
        margin: 50px 0;
    }
}

@media screen and (max-width: 768px){
    .header-image-home{
        background-position: center;
    }
}

@media screen and (max-width: 600px){
    .header-image-home h1{
        margin-top: 150px;
    }

    .connect {
        margin: 0 16px;
    }
}

/* Visit Page */
.header-image-visit{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/jesse-orrico-60373-min.jpg");
    background-size: cover;
    background-position: 10% 50%;
}

.header-image-visit h1{
    margin: 300px 0 0 300px;
}

.visit{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "h h"
    "a d"
    "l1 l2"
    "b f"
    "l3 l4"
    "e c";
}

.visit img{
    max-width: 250px;
    border: solid 1px #0088B3;
}

.visit p{
    color: #505050;
}


.visit .separate-section{
    margin: 50px 0;
}

.visit h3{
    margin-top: 0;
}

.visit .separate{
    display: block;
    justify-self: center;
    margin: 0;
}

.visit .last-line{
    display:none;
}

@media screen and (max-width: 768px){
    .header-image-visit h1{
        margin: 300px auto;
    }
    
    .visit{
        padding: 0;
        grid-template-columns: auto;
        grid-template-areas: 
        "h"
        "a"
        "l1"
        "d"
        "l2"
        "b" 
        "l3"
        "f"
        "l4"
        "e" 
        "l5"
        "c";
    }

    .visit .last-line{
        display: block;
    }
}

@media screen and (max-width: 600px){
    .visit{
        margin: 0 16px;
    }
}
/* Explore Page */

.header-image-explore{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/AdobeStock_208751620-min.jpeg");
    background-position: 10% 10%;
}

.header-image-explore h1{
    margin: 0 0 0 150px;
}

.kids .image-div{
    background-image: url("../images/AdobeStock_170278874-min.jpeg");
}

.teachers .image-div{
    background-image: url("../images/thisisengineering-raeng-TXxiFuQLBKQ-unsplash-min.jpg");
}

.researchers .image-div{
    background-image: url("../images/thisisengineering-raeng-mF6gB6hV5OU-unsplash-min.jpg");
}


.explore-card{
    margin-top: 37px;
}

.text-div div{
    margin-bottom: 28px;
}


.explore .separate{
    display: block;
}

.text-div, .image-div {
    width: 496px;
    height: 530px;
}

.image-div{
    background-size: cover;
    background-position: center;
}

.text-div{
    box-sizing: border-box;
    background-color: #F2F9FB; 
    padding: 16px;
}

.text-div .btn{
    align-self: center;
    margin-top: 28px;
}

.text-div .btn:hover{
    background-color: #F2F9FB;
}

.teachers .image-div{
    background-position: 90% 0%;
}

.exhibitions h2{
    margin: 0;
}

.exhibitions .card img{
    max-width: none;
    width: 100%;
}


@media screen and (max-width: 992px){

    .image-div, .text-div{
        width: 600px;
    }

    .image-div{
        height: 300px;
    }

    .explore-card{
        flex-direction: column;
        align-content: flex-start;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
   
    }

    .kids, .researchers{
        flex-direction: column-reverse;
    }

    .text-div{
        justify-content: flex-start;
        height: auto;
        background-color: #FFF;
    }
}

@media screen and (max-width: 768px){
    .header-image-explore{
        background-size: cover;
        background-position: 70% 10%;
    }

    .header-image-explore h1{
        margin: 0;
    }

    .image-div, .text-div{
        max-width: 600px;
        width: auto;
    }

}

/* About Page */

.header-image-about{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/AdobeStock_285772446-min.jpeg");
    background-position: 10% 20%;
}

.header-image-about h1{
    margin: 100px 0 0 0;
}

.about{
    max-width: 992px;
}

.about img, .involved img{
    max-width: 100%;
}

.about div{
    margin-bottom: 37px;
}

.involved .btn{
    margin: 0 16px;
}

@media only screen and (max-width: 600px){
    .about p{
        margin-left: 16px;
        margin-right: 16px;
    }
}


/* Contact Page */

.header-image-contact{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/AdobeStock_395371205-min.jpeg");
    background-position: 10% 20%;
}

.header-image-contact h1{
    margin: 100px 0 0 0;
}

.contact{
    grid-column-gap: 67px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
    "a a a a a b b b b b";
}

.contact input, .contact textarea{
    margin-bottom: 16px;
    border: solid 1px #0088B3;
}

.contact label{
    margin-bottom: 3px;
}

.contact input{
    height: 28px;
}

.contact form{
    height: 100%;
}

.contact textarea{
    flex: 1;
}

.contact .separate-section{
    display: none;
}

.icon{
    width: 50px;
    margin-right: 16px;
}

.phone{
    margin-top: 25px;
}

.address{
    margin-top: 25px;
}

.contact .btn{
    background-color: #0088B3;
    color: #FFF;
    border-color: #0088B3;
    width: 50%;
    align-self: center;
}

.contact .btn:hover{
    background-color: #fff;
    color: #000;
}

.map{
    max-width: 100%;
    border: solid 1px #0088B3;
    margin-top: 38px;
}

@media screen and (max-width: 992px){
    .contact{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "l1"
        "b";
    }

    .contact .separate-section{
        display: block;
        margin: 0;
    }

    .contact section{
        max-width: 600px;
        min-height: 600px;
        margin: 0 16px;
    }

    .contact-info h2{
        margin-top: 0;
    }

    .contact .btn:hover{
        background-color: #0088B3;
        color:#FFF;
    }

}

/* Footer */

footer{
    background-color: #0088B3;
    margin-top: 50px;
    padding: 12px 100px;
    justify-content: space-between;}

.copyright{
    color: #FFF;
    align-items: center;

}

.copyright img{
    height: 35px;
    margin-right: 5px;
}

.social-media img{
    height: 35px;
}

.social-media :nth-child(2){
    margin: 0 16px;
}

.footer-links{
    flex-wrap: wrap;
}

.footer-links a{
    color: #fff;
    font-size: 16px;
    margin-right: 16px;
}

.footer-links a:hover{
    text-decoration-color: #FFF;
    text-decoration: underline;
}

footer .footer-links .active{
    text-decoration-color: #FFF;
    text-decoration-thickness: 2px;
}

@media only screen and (max-width: 1350px){
    footer{
        flex-direction: column-reverse;
        justify-content: space-around;
        padding: 12px;
        
    }

    .social-media{
        margin: 12px;
    }

    .social-media, .footer-links, .copyright{
        align-self: center;
    }
    
}
@media only screen and (max-width: 600px){
    footer{
        padding: 12px 12px;
    }

    .footer-links{
        justify-content: center;
    }

    .social-media{
        padding: 12px 0;
    }

    .copyright p, .footer-links a{
        font-size: 12px;
    }

    .copyright img, .social-media img{
        height: 25px;
    }
}